// a.sidebar-link.active {
//     font-weight: 600;
//     color: #DD2C00;
//     border-left-color: #DD2C00;
// }

// a.sidebar-link:hover {
//     color: #F4511E;
// }

.navbar .logo {
    
   height: 1.5rem;;
    
    }